---
import {getCollection, render} from 'astro:content';
import {Code}                  from 'astro-expressive-code/components';

import Layout                  from '../layouts/Layout.astro';

export async function getStaticPaths() {
  const commands = await getCollection(`git`);
  return commands.map(command => ({
    params: {id: command.id},
    props: {command},
  }));
}

const {command} = Astro.props;
const {binaryName, commandSpec} = command.data;

const options = commandSpec.components
  .filter(component => component.type === `option` && !component.isHidden);
---

<Layout>
  <h1 class={`text-2xl font-bold`}>
    {binaryName} {commandSpec.primaryPath.join(`/`)}
  </h1>

  <p>{commandSpec.description}</p>

  <Code lang={`bash`} code={`git ${commandSpec.primaryPath.join(`/`)}`}/>

  {options.length > 0 && <>
    <h2 class={`text-lg font-bold`}>Options</h2>
    {options.map(option => (
      <div class={``}>
        <h3 class={`font-mono font-bold`}>{option.primaryName}</h3>
        <p class={`pl-2`}>{option.description}</p>
      </div>
    ))}
  </>}
</Layout>
